.skin-centre-logo {
  width: 70px;
  border-radius: 20px;
}

.about, ol{
  margin-left: 50px;
}

iframe{
  margin-left: 250px;
}

body {
  background-image: url(assets/back1.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  
  padding-right: 50px;
  padding-left: 50px;
}

* {
  box-sizing: border-box;
}

/* home page */

#welcome, .description{
  text-align: right;
}

.slide.active {
  display: block;
}
.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}

/* blog page */


.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}


.column {
  width: calc(550px); /*Adjust the width as needed */
  display: inline-block;
  margin-right: 20px; /* Add some right margin for spacing */
  vertical-align: top; /* Align columns to the top */
  margin-bottom: 20px; /* Add some bottom margin for spacing */

}

/* Clear the float to prevent layout issues */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.card{
  border-width: 2px;
  border-color: gray;
  border-radius: 10px;
}


/* for services tab */
#searchInput {
  padding: 8px;
  width: 300px;
  font-size: 16px;
  display: block;
  margin: 50px;
  margin-left: 400px;
}
#searchResults {
  margin-top: 10px;
}